

/* Start here  */ 

h3, .display-4 {
    color: navy;
    font-weight: 700;
}

body {
    font-family: 'Assistant', sans-serif;
}

/*Custom font for Sign up form header */
.section-title {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-weight: 700;
}

#map {
    font-family: 'Permanent Marker', cursive;
}

/* Override text color on Carousel */
h1, .display-4 {
    color: black;
}

p {
    color: black;
}

/* Override themed container for sign-up form */
.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
  }

/* Override Success Button color */
.btn-success {
    color: #fff;
    background-color: #050fa8;
    border-color: #050fa8;
}